<div class="row">
  <div class="col-md-12">
    <div class="list-controls">
      <div class="container">
        <div id="new-post">
          <%= button_to "New Post", new_post_path, method: "get", class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Post</th>
        <th>Comments</th>
        <th>Views</th>
      </tr>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="col-md-8">
              <%= link_to post.title, post, style: "text-decoration:none;" %>
              <h6>
                posted by
                <%= post.user.email %>
                <%= time_ago_in_words(post.created_at) + " ago" %>
              </h6>
            </td>
            <td>0 Comments</td>
            <td>0 Views</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @posts %>
  </div>
</div>
