<header class="navbar navbar-fixed-top">
<div class="container">
  <%= link_to "PairProg" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li class="divider"></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_session_path(resource_name) %></li>
      <% end %>
    </ul>
  </nav>
</div>
